.env
.idea/
.vscode/
.DS_Store

# Backend
backend/vendor/
backend/.phpunit.result.cache
backend/.phpunit.cache/
backend/.phpstan/
backend/log/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/coverage/

log/

docker-compose.override.yml
